<div class="navbar footer mt-3" >
    <div class="container">
   <div class="container-footer d-flex justify-content-center me-auto">
<div class="footer-text me-5 ">My social networks</div>
<Nav class="d-flex " >
<li class="me-3"><a href="https://t.me/Levchencko41"><img class="logo" src="../assets/telegram.png" alt="telegram"/></a></li>
<li class="me-3"><a href="https://github.com/Levchenko41"><img class="logo" src="../assets/git.png" alt="git"/></a></li>
<li class="me-3"><a href="https://www.linkedin.com/in/vasily-levchenko-a68b72218/"><img class="logo" src="../assets/in.png" alt="linkedIn"/></a></li>
<li class="me-3"><a href="https://www.instagram.com/levchencko41/?hl=ru"><img class="logo" src="../assets/instagram.png" alt="instagram"/></a></li>
<li class="me-3"><a href="https://vk.com/id188894103"><img class="logo" src="../assets/vk.png" alt="vk"/></a></li>
</Nav>
   </div>
 </div>
</div>