.space-letter {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    color: white;
    background-color: rgb(32 98 76)
  }
  
  .letter {
      text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 100px;
  
  }
  .user-data{
  width: 500px;
  }
  