<div class="myProject block mt-3 p-3">
  <div class="text-center fs-3">My projects</div>
  <div class="content">
    <div class="p-2 fs-3">
      <a href="https://levchenko41.github.io/virtual-piano/">Virtual piano</a>
    </div>
    <div class="p-2 fs-3">
      <a href="https://levchenko41.github.io/calculator/">Сalculator</a>
    </div>
    <div class="p-2 fs-3">
      <a href="https://github.com/Levchenko41/my-project-react"
        >My project react</a
      >
    </div>
    <div class="p-2 fs-3">
        <a class="cv" href="https://levchenko41.github.io/CV/">CV</a>
      </div>
    
  </div>
</div>
